<div class="container">
  <!-- <p class="text-center font-semibold text-2xl" *ngIf="!yesClicked">
    Will you be my valentine?
  </p> -->
  <div>
    <img class="valentine-img" src="../assets/images/be-my-valentine.jpeg" alt="">
  </div>
  <div class="img-section">
    <img [src]="imgurl" alt="">
  </div>
  <div class="button-section grid" *ngIf="!yesClicked">
    <div class="col-6 flex justify-content-center">
      <button class="btn-yes" type="button" (click)="accept()">Yes</button>
    </div>
    <div class="col-6 flex justify-content-center">
      <button [style]="style" class="btn-no" type="button" (mouseenter)="changePosition()">No</button>
    </div>
  </div>
  <div class="button-section" *ngIf="yesClicked">
    <p class="text-center font-semibold rainbow-text">
      YIPEE!!
    </p>
  </div>
</div>